<!-- Generated template for the HeaderComponent component -->
<ion-header>

    <ion-navbar color="dark" >
  
    
      
      <div class = "row responsive-sm">
        <div class="tabs tabs-icon-left">
          <strong class="logo1" >BINGE</strong>
          <strong class="logo2">BUCKET</strong>
          <a class="tab-item">
            MOVIES
          </a>
          <a class="tab-item">
            TVSHOWS
          </a>
          <a class="tab-item">
            WEBSERIES
          </a>
  
  
  
  
  
  
  
          <input type="text" name="search" class="search-container">
        
  
        </div>
  
      </div>
  
  
    </ion-navbar>
  
  </ion-header>