header {
strong .logo1{
    color:rgb(83, 83, 207);
    padding-left:80px;
    font-size:16px;
    font-weight:bold;
}
strong .logo2{
    color:beige;
    font-size: 16px;
}
.tabs-icon-left .tab-item {

    padding: 26px 26px;
    overflow: hidden;
    width: 100%;
    align-items: center;
    font-family: sans-serif;
    height: 20px;
    font-size: 14px;
    color: silver;

  }
 
}
